@font-face {
    font-family: 'heavi';
    src: url(fontes/Heavitas.ttf);
}

@font-face {
    font-family: 'kany';
    src: url(fontes/kenyan\ coffee\ rg\ it.otf);
}

@font-face {
    font-family: 'magic';
    src: url(fontes/Magical\ Childhood.ttf);
}

body{
    background-image:url(imagens/bckg.png);
    background-position: center center;
    background-color: rgba(190, 188, 188, 0.717);
    width: 100%;
    margin: auto;
}

main{
    width: 100%;
    width: 1200px;
    margin: auto;
    padding-top: 150px;
}

#texto{
    position: absolute;
    left: 800px;
    width: 100%;
    padding: 50px;
    height: 400px;
    text-align: center;
    width: 400px;
    background: rgb(233,73,254);
    background: linear-gradient(94deg, rgba(233,73,254,1) 0%, rgba(211,22,249,1) 35%, rgba(174,0,179,1) 100%);
    border-radius: 25px 7px 7px 25px;
    justify-content: center;
    align-items: center;
}

#content{
    width: 100%;
    margin-top: 70px;
}

#content2{
    width: 100%;
}

h1{
    color: white;
    font-family: 'heavi';
}

h2{
    font-family: 'heavi';
    color: white;
    font-size: 60px;
    margin-top: 5px;
    margin-bottom: 10px;
}

h3{
    margin-top: 0px;
    margin-left: 0px;
    color: white;
    font-size: 22px;
    font-family: 'heavi';
}

#texto p{
    margin-top: 0px;
    margin-left: 15px;
    font-family: 'kany';
    color: white;
    align-items: center;
}

#login p{
    color: white;
    text-align: center;
}

img{
    width: 100%;
    margin-bottom: 0px;
    width: 150px;
}

#login{
    justify-content: center;
    align-items: center;
    height: 400px;
    background-size: cover;
    padding: 50px;
    text-align: center;
    width: 700px;
    backdrop-filter: blur(15px);
    background-color: transparent;
    border-radius: 15px;
    float: left;
}

#login input, h1, p, a{
    margin-right: 40px;
}

input{
    font-family: 'kany';
    margin-right: 40px;
    width: 350px;
    height: 30px;
    border-radius: 10px;
    border: none;
    color: purple;
    border: solid 0.5px purple;
}

#content p{
    font-size: 14px;
    font-family: 'magic';
}

.texto a{
    text-decoration: none;
    color: purple;
    font-family: 'kany';
}

button{
    width: 250px;
    height: 50px;
    background-color:  rgba(234, 234, 234, 0.595);
    align-items: center;
    font-family: 'magic';
    border: solid 0.75px black;
    border-radius: 10px;
}

button a{
    font-family: 'kany';
    color: purple;
    font-size: 24px;
    text-decoration: none;
    margin: auto;
}

button:hover{
    background-color: purple;
    color: white;
    transition: all 0.8s;
    transform: scale(1.15);
}

button a:hover{
    color: white;
}