*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'title';
    src: url(../fontes/Heavitas.ttf);
}

@font-face {
    font-family: 'text';
    src: url(../fontes/cool.otf);
}

@font-face {
    font-family: 'h2';
    src: url(../fontes/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'inputs';
    src: url(../fontes/kenyan\ coffee\ rg\ it.otf);
}

:root {
    --bckg: #10002B;
    --title: #7B2CBF;
    --bxbs: #9D4EDD;
    --prg: #C77DFF;
    --brc: #EBC9FF; 
}

body{
    background-image: url(../imagens/bckg.png);
    background-position: top center;
    margin: auto;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-all-ip-1{
    box-shadow: 0px 1px 8px var(--brc);
    border-radius: 8px;
    margin: auto;
    justify-content: center;
    border:  0.75px solid var(--bxbs);
    width: 300px;
    height: 350px;
}

input.quest{
    width: 85%;
    margin: auto;
    display: flex;
    color: var(--prg);
    padding: 7px;
    border-radius: 5px;
    border: 0.75px solid var(--bxbs);
}

.btn{
    margin: auto;
    display: flex;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 12px;
    width: 88%;
    background-color: var(--brc);
}

h1{
    text-align: center;
    font-family: 'title';
    color: var(--bxbs);
}

p{
    font-size: 22px;
    font-family: 'text';
    text-align: center;
    color: var(--bckg);
}

p, h1, h2{
    display: flex;
    justify-content: center;
}

hr{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    color: var(--prg);
}

a{
    font-family: 'text';
    text-decoration: none;
    color: var(--bckg);
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
}

a:hover{
    text-decoration: underline;
}

footer{
    width:100%;
    border-radius:  0px 0px 30px 30px;
    background-color: var(--prg);
    align-items: center;
}

h2{
    font-family: 'h2';
    letter-spacing: 1px;
    font-size: 18px;
    color: var(--brc);
}

footer img{
    width: 100px;
    height: 60px;
}