*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: cool;
    src: url(../fonts/cool.otf);
}

@keyframes top{
    from{
        transform: translateY(-50px);
    }
    to{
        transform: translateY(1px);
    }
}

@keyframes bottom{
    from{
        transform: translateY(30px);
    }
    to{
        transform: translateY(1px);
    }
}

@keyframes t-r{
    from{
        transform: translate(450px , -30px);
    }

    to{
        transform: translate(0px , 0px);
    }
}

@keyframes b-l {
    from{
        transform: translate( -50px , -50px);
    }

    to{
        transform: translate(0px , 0px);
    }
}

@keyframes t-l{
    from{
        transform: translate(-50px , -30px);
    }

    to{
        transform: translate(0px , 0px);
    }
}


:root{
    --bckg: #17181D;
    --detils: #e09145;
    --text: #FCD9B8;
    --extra: #292C35;
}

body{ 
    overflow-x: hidden;
    margin: auto;
    width: 400px;
    background-image: url(../images/bckg.jpg);
    color: var(--text);
    text-align: center;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

h1{
    font-family: bebas;
    letter-spacing: 0.5px;
}

#hello{
    animation: top 0.7s;
    box-shadow: 0px -3px 20px var(--detils);
    border-radius: 18px 18px 18px 18px;
    text-align: center;
    background-color: var(--detils);
    color: var(--bckg);
    position: relative;
    top: 10px;
    width: 400px;
    height: 250px;
}

#hello p{
    font-size: 1.3em;
    font-family: cool;
}

button{
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: var(--text);
    color: var(--bckg);
}

button:hover{
    transform: scale(1.1);
    transition: all 0.75s;
    background-color: #292C35;
    color: var(--text);
}

.medias i{
    cursor: pointer;
    color: var(--detils);
    margin: 10px;
}

fieldset{
    animation: bottom 0.5s ease-in;
    box-shadow: 0px 5px 20px var(--detils);
    border-radius: 0px 0px 14px 14px;
    border: 2px solid var(--extra);
    background-color: var(--extra);
    margin: auto;
    width: 395px;
    align-items: center;
}

i#i-i{
    color: var(--detils);
    display: inline-block;
    margin-right: 4px;
}

input{
    background-color: var(--extra);
    color: var(--detils);
    border: none;
    border-bottom: 1px solid var(--detils);
    width: 85%;
    padding: 3px;
}

input::placeholder{
    color: var(--detils);
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-bottom: 1px solid var(--detils);
} 

#i-sub{
    cursor: pointer;
    border: 1px solid var(--detils);
    border-radius: 9px;
    width: 85%;
    padding: 8px;
    margin-top: 50px;
}

/*
footer > a > img{
    background-color: var(--extra);
    border-radius: 50%;
    position: absolute;
    top: 110%;
    left: 93%;
    width: 60px;
    height: 50px;
}
*/