*{
    margin: 0px;
    padding: 0px;
}

@keyframes top{
    from{
        transform: translateY(-50px);
    }
    to{
        transform: translateY(1px);
    }
}

@keyframes bottom{
    from{
        transform: translateY(30px);
    }
    to{
        transform: translateY(1px);
    }
}


:root{
    --bckg: #17181D;
    --detils: #E09145;
    --text: #FCD9B8;
    --extra: #292C35;
}

body{ 
    margin: auto;
    width: 400px;
    background-image: url(../images/test-bckg.png);
    background-position: center center;
    color: var(--text);
    text-align: center;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

#hello{
    animation: top 0.7s;
    box-shadow: 0px -3px 20px var(--detils);
    border-radius: 18px 18px 18px 18px;
    text-align: center;
    background-color: var(--detils);
    color: var(--bckg);
    position: relative;
    top: 10px;
    width: 400px;
    height: 250px;
}

fieldset{
    animation: bottom 0.5s ease-in;
    box-shadow: 0px 15px 20px var(--detils);
    border-radius: 0px 0px 14px 14px;
    border: 2px solid var(--extra);
    background-color: var(--extra);
    margin: auto;
    width: 395px;
    align-items: center;
}

i#i-i{
    color: var(--detils);
    display: inline-block;
    margin-right: 4px;
}

input{
    background-color: var(--extra);
    color: var(--detils);
    border: none;
    border-bottom: 1px solid var(--detils);
    width: 85%;
    padding: 3px;
    text-align: center;
}